/* GENERAL CONFIGS  */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "sans-serif";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

.flex-container {
  display: flex;
  max-width: 992px;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  padding: 10px 15px;
}

div img {
  display: block;
  width: 90%;
}

/* HEADER */

header {
  background-color: #122a57;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  height: 100px;
  border-radius: 2px;
  border: 1px solid black;
  font-weight: bold;
}

header .header-menu {
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
}

header h1 {
  font-weight: bold;
  font-size: 38px;
}

header ul {
  display: flex;
}

.list-items li {
  margin: 10px;
}

.flex-container .list-items li a {
  color: white;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  padding: 10px;
  width: 220px;
  text-align: center;
}

.flex-container .list-items li a:hover {
  background: #2159c3;
}

/* ÁREA DE APRESENTAÇÃO */

.area-apresentacao {
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}

.area-apresentacao .texto-apresentacao {
  min-height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.area-apresentacao .texto-apresentacao h2 {
  color: #122a57;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 38px;
}

.area-apresentacao .texto-apresentacao p {
  color: orangered;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.link-btn {
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  background: #122a57;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  width: 220px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  align-items: center; 
  display: block;
  width: 200px;
  height: 30px;
  line-height: inherit;
  padding-top: 13px;
}

.link-btn:hover {
  background: #2159c3;
}

/* QUEM-SOMOS */
.quem-somos {
  justify-content: space-between;
}

.quem-somos img {
  width: 541px;
  height: 386px;
}

.texto-quem-somos {
  min-height: 320px;
  margin-left: 100px;
}

.texto-quem-somos h2 {
  color: #122a57;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 38px;
  display: flex;
}

.texto-quem-somos h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background: #122a57;
  position: relative;
}

.texto-quem-somos p {
  color: orangered;
  font-weight: bold;
  text-align: justify;
}

/* SERVIÇOS */

.container-externo {
  background: #122A57;
  width: 100%;
}

.servicos {
  flex-direction: column;
  padding: 100px 0;
}

.servicos h2 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
} 

.lista-servico {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item-servico {
  text-align: center;
}

.item-servico p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.item-servico a {
  width: 220px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  color: #122a57;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.item-servico a:hover {
  background-color: rgba(221, 221, 221, 0.782);
}

.servicos img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 30px;
}

/* PLANOS */

.planos {
  flex-direction: column;
  min-height: 100vh;
  padding: 100px 0;
}

.planos h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.lista-planos {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.item-planos {
  border: 5px solid #122a57;
  margin-right: 20px;
  padding: 10px;
  max-width: 240px;
}

.item-planos a {
  margin: 0 auto;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  background: #122a57;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  width: 220px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  align-items: center; 
  display: block;
  width: 200px;
  height: 30px;
  line-height: inherit;
  padding-top: 13px;
}

.item-planos h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.item-planos h3::after {
  content: "";
  background: #122A57;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-planos ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
} 

.item-planos ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.item-planos ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #122A57;
  margin-right: 5px;
  border-radius: 50px;
}

/* FOOTER */

footer {
  background: #122A57;
  color: #fff;
  font-weight: bold;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer {
  justify-content: space-between;
}


/* RESPONSIVIDADE */
  @media(max-width: 990px){

      /* .flex-container {
        flex-direction: column;
        margin: auto;
      } */
      
      .area-apresentacao {
        flex-direction: column-reverse;
        justify-content: flex-end
      }

      /* .area-apresentacao .texto-apresentacao {
        min-height: 200px;
        width: 100%;
      } */

      .quem-somos {
        flex-direction: column-reverse;
      }

      .quem-somos img {
        min-width: 320px;
        margin: auto;

      }

      .lista-servico {
        flex-direction: column;
        margin: auto;
        width: 30%;
      }

      .item-servico img {
        margin: 0 auto;
      }

      .lista-planos {
        flex-direction: column;
        margin: auto;;
      }

      .lista-planos .item-planos {
        max-width: 100%;
        margin: auto;
        width: 100%;
      }
}

